<div>
    <h2 id="page-heading">
        <span jhiTranslate="happybourBackEndApp.bookTable.home.title">Book Tables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-book-table" [routerLink]="['/book-table/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="happybourBackEndApp.bookTable.home.createLabel">
            Create new Book Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bookTables">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isAvaliable"><span jhiTranslate="happybourBackEndApp.bookTable.isAvaliable">Is Avaliable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="persons"><span jhiTranslate="happybourBackEndApp.bookTable.persons">Persons</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span jhiTranslate="happybourBackEndApp.bookTable.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageUrl"><span jhiTranslate="happybourBackEndApp.bookTable.imageUrl">Image Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="restaurantId"><span jhiTranslate="happybourBackEndApp.bookTable.restaurant">Restaurant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bookTable of bookTables ;trackBy: trackId">
                <td><a [routerLink]="['/book-table', bookTable.id, 'view' ]">{{bookTable.id}}</a></td>
                <td>{{bookTable.isAvaliable}}</td>
                <td>{{bookTable.persons}}</td>
                <td>{{bookTable.price}}</td>
                <td>{{bookTable.imageUrl}}</td>
                <td>
                    <div *ngIf="bookTable.restaurantId">
                        <a [routerLink]="['../restaurant', bookTable.restaurantId , 'view' ]" >{{bookTable.restaurantId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/book-table', bookTable.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/book-table', bookTable.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'book-table/'+ bookTable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bookTables && bookTables.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
