<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bookTable">
            <h2><span jhiTranslate="happybourBackEndApp.bookTable.detail.title">Book Table</span> {{bookTable.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="happybourBackEndApp.bookTable.isAvaliable">Is Avaliable</span></dt>
                <dd>
                    <span>{{bookTable.isAvaliable}}</span>
                </dd>
                <dt><span jhiTranslate="happybourBackEndApp.bookTable.price">Price</span></dt>
                <dd>
                    <span>{{bookTable.price}}</span>
                </dd>
                <dt><span jhiTranslate="happybourBackEndApp.bookTable.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{bookTable.imageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="happybourBackEndApp.bookTable.table_image">Table Image</span></dt>
                <dd>
                    <div *ngIf="bookTable.table_image">
                        <a (click)="openFile(bookTable.table_imageContentType, bookTable.table_image)">
                            <img [src]="'data:' + bookTable.table_imageContentType + ';base64,' + bookTable.table_image" style="max-width: 100%;" alt="bookTable image"/>
                        </a>
                        {{bookTable.table_imageContentType}}, {{byteSize(bookTable.table_image)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="happybourBackEndApp.bookTable.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="bookTable.restaurantId">
                        <a [routerLink]="['/restaurant', bookTable.restaurantId, 'view']">{{bookTable.restaurantId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="happybourBackEndApp.bookTable.tableType">Table Type</span></dt>
                <dd>
                    <div *ngIf="bookTable.tableTypeId">
                        <a [routerLink]="['/table-type', bookTable.tableTypeId, 'view']">{{bookTable.tableTypeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book-table', bookTable.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
