<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-book-table-heading" jhiTranslate="happybourBackEndApp.bookTable.home.createOrEditLabel">Create or edit a Book Table</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bookTable.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bookTable.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.bookTable.isAvaliable" for="field_isAvaliable">Is Avaliable</label>
                    <input type="checkbox" class="form-control" name="isAvaliable" id="field_isAvaliable"
                        [(ngModel)]="bookTable.isAvaliable" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.bookTable.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="bookTable.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.bookTable.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                        [(ngModel)]="bookTable.imageUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.bookTable.table_image" for="field_table_image">Table Image</label>
                    <div>
                        <img [src]="'data:' + bookTable.table_imageContentType + ';base64,' + bookTable.table_image" style="max-height: 100px;" *ngIf="bookTable.table_image" alt="bookTable image"/>
                        <div *ngIf="bookTable.table_image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{bookTable.table_imageContentType}}, {{byteSize(bookTable.table_image)}}</span>
                            <button type="button" (click)="clearInputImage('table_image', 'table_imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_table_image" (change)="setFileData($event, bookTable, 'table_image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="table_image" id="field_table_image"
                        [(ngModel)]="bookTable.table_image" required/>
                    <input type="hidden" class="form-control" name="table_imageContentType" id="field_table_imageContentType"
                        [(ngModel)]="bookTable.table_imageContentType" />
                    <div [hidden]="!(editForm.controls.table_image?.dirty && editForm.controls.table_image?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.table_image?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.bookTable.restaurant" for="field_restaurant">Restaurant</label>
                    <select class="form-control" id="field_restaurant" name="restaurant" [(ngModel)]="bookTable.restaurantId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="restaurantOption.id" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.bookTable.tableType" for="field_tableType">Table Type</label>
                    <select class="form-control" id="field_tableType" name="tableType" [(ngModel)]="bookTable.tableTypeId"  required>
                        <option *ngIf="!editForm.value.tableType" [ngValue]="null" selected></option>
                        <option [ngValue]="tableTypeOption.id" *ngFor="let tableTypeOption of tabletypes; trackBy: trackTableTypeById">{{tableTypeOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tableType?.dirty && editForm.controls.tableType?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tableType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
