<div>
    <h2 id="page-heading">
        <span jhiTranslate="happybourBackEndApp.timeManager.home.title">Time Managers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-time-manager" [routerLink]="['/time-manager/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="happybourBackEndApp.timeManager.home.createLabel">
            Create new Time Manager
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="timeManagers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="day"><span jhiTranslate="happybourBackEndApp.timeManager.day">Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startTime"><span jhiTranslate="happybourBackEndApp.timeManager.startTime">Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endTime"><span jhiTranslate="happybourBackEndApp.timeManager.endTime">End Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="restaurantId"><span jhiTranslate="happybourBackEndApp.timeManager.restaurant">Restaurant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timeManager of timeManagers ;trackBy: trackId">
                <td><a [routerLink]="['/time-manager', timeManager.id, 'view' ]">{{timeManager.id}}</a></td>
                <td>{{timeManager.day}}</td>
                <td>{{timeManager.startTime}}</td>
                <td>{{timeManager.endTime}}</td>
                <td>
                    <div *ngIf="timeManager.restaurantId">
                        <a [routerLink]="['../restaurant', timeManager.restaurantId , 'view' ]" >{{timeManager.restaurantId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/time-manager', timeManager.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/time-manager', timeManager.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'time-manager/'+ timeManager.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="timeManagers && timeManagers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
