<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-time-manager-heading" jhiTranslate="happybourBackEndApp.timeManager.home.createOrEditLabel">Create or edit a Time Manager</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!timeManager.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="timeManager.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.timeManager.day" for="field_day">Day</label>
                    <input type="text" class="form-control" name="day" id="field_day"
                        [(ngModel)]="timeManager.day" required/>
                    <div [hidden]="!(editForm.controls.day?.dirty && editForm.controls.day?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.day?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.timeManager.startTime" for="field_startTime">Start Time</label>
                    <input type="text" class="form-control" name="startTime" id="field_startTime"
                        [(ngModel)]="timeManager.startTime" required/>
                    <div [hidden]="!(editForm.controls.startTime?.dirty && editForm.controls.startTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startTime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.timeManager.endTime" for="field_endTime">End Time</label>
                    <input type="text" class="form-control" name="endTime" id="field_endTime"
                        [(ngModel)]="timeManager.endTime" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.timeManager.restaurant" for="field_restaurant">Restaurant</label>
                    <select class="form-control" id="field_restaurant" name="restaurant" [(ngModel)]="timeManager.restaurantId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="restaurantOption.id" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
