<div>
    <h2 id="page-heading">
        <span jhiTranslate="happybourBackEndApp.customer.home.title">Customers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer" [routerLink]="['/customer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="happybourBackEndApp.customer.home.createLabel">
            Create new Customer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="customers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="happybourBackEndApp.customer.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="happybourBackEndApp.customer.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateUpdated"><span jhiTranslate="happybourBackEndApp.customer.dateUpdated">Date Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateOfBirth"><span jhiTranslate="happybourBackEndApp.customer.dateOfBirth">Date Of Birth</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="happybourBackEndApp.customer.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstName"><span jhiTranslate="happybourBackEndApp.customer.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imgUrl"><span jhiTranslate="happybourBackEndApp.customer.imgUrl">Img Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastName"><span jhiTranslate="happybourBackEndApp.customer.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="password"><span jhiTranslate="happybourBackEndApp.customer.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="happybourBackEndApp.customer.phoneNumber">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resetDate"><span jhiTranslate="happybourBackEndApp.customer.resetDate">Reset Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reset_Key"><span jhiTranslate="happybourBackEndApp.customer.reset_Key">Reset Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="happybourBackEndApp.customer.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="restaurantId"><span jhiTranslate="happybourBackEndApp.customer.restaurant">Restaurant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers ;trackBy: trackId">
                <td><a [routerLink]="['/customer', customer.id, 'view' ]">{{customer.id}}</a></td>
                <td>{{customer.address}}</td>
                <td>{{customer.dateCreated | date:'medium'}}</td>
                <td>{{customer.dateUpdated | date:'medium'}}</td>
                <td>{{customer.dateOfBirth | date:'mediumDate'}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.firstName}}</td>
                <td>{{customer.imgUrl}}</td>
                <td>{{customer.lastName}}</td>
                <td>{{customer.password}}</td>
                <td>{{customer.phoneNumber}}</td>
                <td>{{customer.resetDate | date:'medium'}}</td>
                <td>{{customer.reset_Key}}</td>
                <td>{{customer.status}}</td>
                <td>
                    <div *ngIf="customer.restaurantId">
                        <a [routerLink]="['../restaurant', customer.restaurantId , 'view' ]" >{{customer.restaurantId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/customer', customer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer', customer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="customers && customers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
