<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-coupon-heading" jhiTranslate="happybourBackEndApp.coupon.home.createOrEditLabel">Create or edit a Coupon</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!coupon.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="coupon.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="coupon.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" [(ngModel)]="dateCreated"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.dateUpdated" for="field_dateUpdated">Date Updated</label>
                    <div class="d-flex">
                        <input id="field_dateUpdated" type="datetime-local" class="form-control" name="dateUpdated" [(ngModel)]="dateUpdated"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="coupon.endDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="coupon.isActive" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.noPerUser" for="field_noPerUser">No Per User</label>
                    <input type="number" class="form-control" name="noPerUser" id="field_noPerUser"
                        [(ngModel)]="coupon.noPerUser" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="coupon.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.startFromDate" for="field_startFromDate">Start From Date</label>
                    <div class="input-group">
                        <input id="field_startFromDate" type="text" class="form-control" name="startFromDate" ngbDatepicker  #startFromDateDp="ngbDatepicker" [(ngModel)]="coupon.startFromDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startFromDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.maxAmountToApply" for="field_maxAmountToApply">Max Amount To Apply</label>
                    <input type="number" class="form-control" name="maxAmountToApply" id="field_maxAmountToApply"
                        [(ngModel)]="coupon.maxAmountToApply" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="happybourBackEndApp.coupon.restaurant" for="field_restaurant">Restaurant</label>
                    <select class="form-control" id="field_restaurant" name="restaurant" [(ngModel)]="coupon.restaurantId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="restaurantOption.id" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
