<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tableType">
            <h2><span jhiTranslate="happybourBackEndApp.tableType.detail.title">Table Type</span> {{tableType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="happybourBackEndApp.tableType.code">Code</span></dt>
                <dd>
                    <span>{{tableType.code}}</span>
                </dd>
                <dt><span jhiTranslate="happybourBackEndApp.tableType.description">Description</span></dt>
                <dd>
                    <span>{{tableType.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/table-type', tableType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
